body{
	background-color: rgb(252, 204, 196);
}

#addButton{
	display: block;
	background-color: rgb(250, 7, 7);
	margin: -15px 95px 5px 95px;
	font-size: 30px;
}

#pol1{
	display: block;
	margin: 25px 10px 28px 10px;
	font-size: 20px;
}

li{
	margin: 5px 5px 5px 20px;
	font-size: 18px;
}

#help{
	margin: 30px 5px -25px 25px;
	border: 1px solid gray;
	background-color: rgb(240, 213, 213);
	padding: 4px;
	width: 240px;
}

canvas{
	display: block;
	margin: -555px auto;	
}
